/* 

Place your overrides for the UI Library here.
Feel free to customize the panel all you want.
Do not remove the copyright text.

*/

body,
html,
.login-container {
    background-image: none !important;
    background: linear-gradient(to right, #FFFFFF, #86d978) !important;
}

::selection {
    color:#b4ffa7 !important;
}

.loading-bar-inner {
    background-color: #77d766 !important;
}

.careers-link {
    color: #1f6314;
}

.careers-link:hover {
    color: #63ba54;
}

.sidebar-link.active,
.account-settings-sidebar-link.active,
.drop-menu-item-sidebar.active,
.drop-menu-item-sidebar.active {
    background-color: #f2f4f5;
    border-radius: 6px;
    border: 1px solid #86d978 !important;
}

.dark-mode .sidebar-link.active,
.dark-mode .account-settings-sidebar-link.active,
.dark-mode .drop-menu-item-sidebar.active,
.dark-mode .drop-menu-item-sidebar.active {
    background-color: #0a0a0a;
    border: 1px solid #86d978 !important;
}

.dark-mode body,
.dark-mode html,
.dark-mode .login-container,
html[data-theme='dark'] body {
    background-image: none !important;
    background: linear-gradient(to left, #a8a8a8, #0d4803) !important;
}