*.env
.env
modules/CaliWebDesign/Websites/terminal
modules/CaliWebDesign/Websites/siteBuilder
license/
license
license/*
installation/encodingGeneration
dashboard/administration/accounts/fileUpload/uploadLogic
CaliUtilitiesBot/
CaliUtilitiesBot/*
error/errorLogs
error/errorLogs/*