#calendar {
    display: grid;
    grid-template-columns: auto repeat(7, 1fr);
    gap: 0px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.header-row {
    display: contents;
}

.time-header {
    grid-row: 1;
    padding: 10px;
    text-align: center;
    border-right: 1px solid #ccc;
}

.day-header {
    padding: 0px;
    font-weight: bold;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.time-slot,
.day-events {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 70px;
    position: relative;
}

.time-slot {
    align-items: center;
    display: flex;
    width:70px;
    padding-left: 10px;
}

.event {
    background-color: #e3f2fd;
    border: 1px solid #90caf9;
    padding: 5px;
    position: absolute;
    width: calc(100% - 10px);
    top: 0;
    left: 5px;
    z-index: 1;
}