/* 

Place your overrides for the UI Library here.
Feel free to customize the panel all you want.
Do not remove the copyright text.

*/

body,
html,
.login-container {
    background-image: none !important;
    background: linear-gradient(to right, #FFFFFF, #ffbcbc) !important;
}

::selection {
    color: #ffbcbc !important;
}

.loading-bar-inner {
    background-color: #ffbcbc !important;
}

.careers-link {
    color: rgb(102, 12, 7);
}

.careers-link:hover {
    color: #d56c6c;
}

.sidebar-link.active,
.account-settings-sidebar-link.active,
.drop-menu-item-sidebar.active,
.drop-menu-item-sidebar.active {
    background-color: #f2f4f5;
    border-radius: 6px;
    border: 1px solid #d56c6c !important;
}

.dark-mode .sidebar-link.active,
.dark-mode .account-settings-sidebar-link.active,
.dark-mode .drop-menu-item-sidebar.active,
.dark-mode .drop-menu-item-sidebar.active {
    background-color: #0a0a0a;
    border: 1px solid #d56c6c !important;
}

.dark-mode body,
.dark-mode html,
.dark-mode .login-container,
html[data-theme='dark'] body {
    background-image: none !important;
    background: linear-gradient(to left, #a8a8a8, #6e0404) !important;
}