/*
    Customer Dashboard Styling Overrides
    Include this Stylesheet code on ALL CUSTOMER PAGES
    This removes the background for faster loading cause customers
    hate waiting for websites to load and we like our customers
    but screw employees.
*/

body,
.dark-mode body,
html[data-theme='dark'] body {
    background-image: none !important;
}

.caliweb-navbar,
.dark-mode .caliweb-navbar {
    box-shadow: none !important;
}

.systemLoads,
.dark-mode .systemLoads {
    display: none !important;
}

.dark-mode .dark-mode-white {
    color:#dbdbdb !important;
}

.dark-mode .dark-mode-white:hover {
    color:#fff !important;
}

.container,
.container.caliweb-container,
.container.caliweb-navbar-container {
    width: 85%;
}

.subtitle-text {
    color: #7A7A7A;
}

.dark-mode .subtitle-text {
    color: #CDCDCD;
}

.loading-bar-inner {
    background-color: #85e2ff !important;
}

@media (min-width:1290px) and (max-width: 1500px) {
    .container,
    .container.caliweb-container,
    .container.caliweb-navbar-container {
        width: 95%;
    }

    .section.first-dashboard-area-cards,
    .first-dashboard-area-cards {
        padding-bottom: 4% !important;
    }
}

@media (max-width: 1366px) {
    body {
        overflow-y: scroll;
    }

    .caliweb-button.secondary {
        width: 100%;
        margin-top: 10px;
    }

    .caliweb-button-section {
        display: flex;
        padding-top: 20px;
    }
}

@media (max-width: 768px) {

    .container,
    .container.caliweb-container,
    .container.caliweb-navbar-container {
        width: 100%;
        padding: 0 10px;
    }

    .caliweb-two-grid {
        grid-template-columns: 1fr !important;
    }

    .customer-account-title {
        flex-direction: column;
        align-items: flex-start;
    }

    .customer-account-title h6 {
        margin-bottom: 10px;
    }

    .caliweb-three-grid {
        grid-template-columns: 1fr !important;
        row-gap: 20px;
    }


    .customer-grid-quick-actions {
        grid-template-columns: 1fr !important;
        row-gap: 20px;
    }
}