/* =================== Cali Web Design Dashboard Global Styles =================== */

body {
    overflow-x: hidden;
    background-color: #f1f1f1;
    background-image: url("/assets/img/dashboardBackground/mainBackground.webp") !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-left: 1px solid #ddd;
}

*::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 50px;
}

.text-bold {
    font-weight: 700;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-16 {
    font-size: 16px;
}

.font-14px {
    font-size: 14px;
    width: 100%;
}

.no-padding {
    padding: 0;
    margin: 0;
}

.no-margin {
    margin: 0 !important;
    padding: 0;
}

.margin-10px-right {
    margin-right: 20px !important;
}

.display-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-top {
    align-items: top;
    vertical-align: top;
}

.width-20 {
    width: 20% !important;
}

.width-100 {
    width: 100%;
}

.padding-20px {
    padding: 20px;
}

.padding-20px-no-top {
    padding: 20px;
    padding-top: 0px;
    margin-top: -20px;
    margin-bottom: -15px;
}

.width-60 {
    width: 60%;
}

.tab-switch-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2%;
}

.tab-switch-tab {
    border-bottom: 2px solid #ddd;
    padding: 4px 20px;
    padding-bottom: 8px;
    padding-left: 0;
    text-align: center;
    width: 100%;
}

.tab-switch-tab a {
    text-decoration: none;
}

.tab-switch-tab.active {
    border-bottom: 2px solid #D49DFF;
}

/* =================== Cali Web Design Dashboard Container Styles =================== */

.container,
.caliweb-navbar-container,
.caliweb-container {
    max-width: 95%;
    width: 100%;
}

.container.width-98 {
    max-width: 98%;
    width: 100%;
}

.first-dashboard-area-cards {
    overflow-y: scroll;
    position: relative;
    margin-bottom: 5%;
    height: 90%;
}

/* =================== Cali Web Design Dashboard Header Styles =================== */

.caliweb-navbar {
    background-color: #fff;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.caliweb-header-search {
    width: 60% !important;
}

.caliweb-search-input {
    border-radius: 6px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
}

.caliweb-nav-buttons {
    display: flex;
    align-items: center;
}

.caliweb-nav-links {
    padding-left: 0;
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 0px;
}

.nav-links {
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 0;
    padding: 4px 14px;
    border-top: 3px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.nav-links:hover {
    border-top: 3px solid #000;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.nav-links.active {
    border-top: 3px solid #000;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #f1f1f1;
}

.more {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ddd;
    min-width: 230px;
    z-index: 1;
    list-style: none;
    padding: 8px;
    top: 33px;
    left: 0% !important;
    z-index: 999;
}

.dropdown li {
    display: block;
    border: 1px solid transparent !important;
}

.dropdown a {
    padding: 14px 8px !important;
}

.dropdown li:hover {
    border: 1px solid #ddd !important;
}

.more.active .dropdown {
    display: block;
}

/* =================== Cali Web Design Dashboard Dark Mode Styles =================== */

html[data-theme='dark'] body {
    overflow-x: hidden;
    background-color: #1f1f1f;
    background-image: url("/assets/img/dashboardBackground/mainDarkBackground.webp") !important;
    color: #DBDBDB !important;
}

.dark-mode *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.dark-mode *::-webkit-scrollbar-track {
    background: #1b1b1b;
    border-left: 1px solid #222;
}

.dark-mode *::-webkit-scrollbar-thumb {
    background-color: #353535;
    border-radius: 50px;
}

.dark-mode .nav-links,
.dark-mode .nav-links:hover a,
.dark-mode .nav-links-clickable {
    color: #DBDBDB !important;
    background-color: none;
}

.dark-mode .nav-links:hover,
.dark-mode .nav-links:hover a,
.dark-mode .nav-links-clickable:hover {
    color: #fff !important;
    background-color: #222;
}

.dark-mode .nav-links:hover {
    border-top: 3px solid #fff;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    background-color: #1f1f1f;
}

.dark-mode .nav-links.active {
    border-top: 3px solid #fff;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    background-color: #1f1f1f;
}

.dark-mode .caliweb-card.dashboard-card {
    background: #1d1d1d;
    border: 1px solid #222;
}

.dark-mode .caliweb-card.dashboard-card-shrink {
    background: #1d1d1d;
    border: 1px solid #222;
}

.dark-mode .card-header {
    border-bottom: 0;
}

.dark-mode .card-footer {
    border-top: 0;
}

.dark-mode .card-header-account {
    background-color: #2b2b2b;
    border-bottom: 1px solid #333;
}

.dark-mode td,
.dark-mode th {
    border-bottom: 1px solid #333;
    text-align: left;
    padding: 10px;
    width: 100%;
}

.dark-mode .icon-size-formatted {
    border: 1px solid #222;
}

.dark-mode .preloader {
    background-color: #000 !important;
}

.dark-mode .tab-switch-tab {
    border-bottom: 2px solid #333;
}

.dark-mode .tab-switch-tab a {
    color: #DBDBDB;
}

.dark-mode .tab-switch-tab.active {
    border-bottom: 2px solid #D49DFF;
}

.dark-mode .customer-business-card-bar {
    background-color: #333;
}

.dark-mode .customer-card-header {
    border-bottom: 1px solid #222;
}

.dark-mode .customer-quick-actions-img {
    border: 1px solid #333;
}

.dark-mode .thumb-web-img {
    border: #333 1px solid;
}

.dark-mode table {
    border-top: 1px solid #333 !important;
}

.dark-mode .price-table-head,
.dark-mode table tbody th {
    background-color: #292929 !important;
}

.dark-mode .back-dark-mode {
    background-color: #000 !important;
}

.dark-mode .caliweb-email-listing {
    border: 1px solid #333 !important;
    background-color: #222 !important;
}

.dark-mode .caliweb-email-listing:hover {
    background-color: #dcf1ff !important;
    border: 1px solid #dcf1ff !important;
    color: #000 !important;
}

.dark-mode .mail-logo-content {
    opacity: .3 !important;
}

.dark-mode .caliweb-email-header {
    background-color: rgba(22, 22, 23, 0.8) !important;
}

/* =================== Cali Web Design Dashboard Grid Styles =================== */

.special-caliweb-spacing {
    grid-row-gap: 10px !important;
    grid-column-gap: 10px !important;
}

.customer-grid-quick-actions {
    grid-row-gap: 40px !important;
    grid-column-gap: 40px !important;
}

.account-grid-modified {
    -ms-grid-columns: 1.5fr .5fr;
    grid-template-columns: 1.5fr .5fr;
}

.profile-grid-modified {
    -ms-grid-columns: .5fr 1fr .5fr;
    grid-template-columns: .5fr 1fr .5fr;
}

.email-grid {
    -ms-grid-columns: .5fr 1.5fr;
    grid-template-columns: .5fr 1.5fr;
}

/* =================== Cali Web Design Dashboard Section Styles =================== */

.section {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* =================== Cali Web Design Dashboard Three Card Styles =================== */

.caliweb-card.dashboard-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px;
}

.caliweb-card.dashboard-card-shrink {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-header {
    padding-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 4%;
}

.card-header-account {
    padding-top: 0px;
    padding-bottom: 10px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 6px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid #eee;
    margin-bottom: 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client-business-andor-profile-logo {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.icon-size-formatted {
    height: 45px;
    width: 45px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.card-footer {
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-footer p,
.card-header p {
    font-size: 14px;
}

.custom-padding-account-card {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.account-status-badge {
    border-radius: 4px;
    padding: 4px 12px;
    margin-left: 20px;
    font-size: 12px;
    margin-top: 0;
}

.account-status-badge.passive {
    border: 1px solid #B8B8B8;
    background-color: #F1F1F1;
    color: #646464;
}

.account-status-badge.green {
    border: 1px solid #6ED741;
    background-color: #CEFFB9;
    color: #204510;
}

.account-status-badge.yellow {
    border: 1px solid #D5D94A;
    background-color: #FDFFBE;
    color: #585A1A;
}

.account-status-badge.red {
    border: 1px solid #FF9090;
    background-color: #FFE1E1;
    color: #AD3434;
}

.account-status-badge.red-dark {
    border: 1px solid #FE5D5D;
    background-color: #FFD4D4;
    color: #901818;
}

/* =================== Cali Web Design Dashboard Table Styles =================== */

.dashboard-table {
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: -2%;
    margin-bottom: 1%;
    border-top: 1px solid #e6e5e5;
}

.price-table-head,
table tbody th {
    background-color: #efeeee !important;
}

td,
th {
    border-bottom: 1px solid #e6e5e5;
    text-align: left;
    padding: 10px;
    width: 100%;
    font-size: 12px;
}

/* =================== Cali Web Design Dashboard Calendar Widget Styles =================== */


.swal2-input {
    width: 100% !important;
    margin-left: 0 !important;
    height: 2.5em !important;
    margin-right: 0 !important;
}

textarea.swal2-input {
    height: 5em !important;
    padding: 0.5em 0.5em !important;
}

.swal2-close {
    outline: none;
}

/* =================== Cali Web Design Dashboard Customer Accounts Overview =================== */

.customer-dashboard-greeting-section {
    padding-top: 50px;
}

.customer-dashboard-section {}

.customer-quick-actions-img {
    height: 40px;
    width: 40px;
    border: 1px solid #eee;
    padding: 4px;
    border-radius: 6px;
    margin-bottom: 6%;
}

.customer-business-card-bar {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 0px;
}

.customer-card-header {
    border-bottom: 1px solid #ddd;
}

.customer-account-title {}

/* =================== Cali Web Design Dashboard Customer Accounts Edit/Create =================== */

.fillable-header {
    background-color: #f1f1f1;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.fillable-body {
    width: 100%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.fillable-text {
    font-size: 12px;
    font-weight: 700;
}

/* =================== Cali Web Design Dashboard Image Thumbnail =================== */

.thumb-web-img {
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
    animation: dropIn 0.3s ease-in;
    align-items: center;
    display: flex;
    padding: 0px;
    position: relative;
    width: 35%;
    height: 35vh;
    margin-right: 40px;
}

.thumb-web-img img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0px;
}

/* =================== Cali Web Design Dashboard Modals =================== */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 12% auto;
    padding: 20px;
    border: 1px solid #eee;
    width: 50%;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* =================== Cali Web Design Cali Mail Styling =================== */

.caliweb-email-listing-container {
    height: 85vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.caliweb-email-content-container {
    height: 85vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.caliweb-email-content-container::-webkit-scrollbar-track,
.caliweb-email-listing-container::-webkit-scrollbar-track {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

.caliweb-email-listing {
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #eee;
    background-color: #f2f3f5;
    margin: 8px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.caliweb-email-listing-header {
    margin-bottom: 4%;
}

.caliweb-email-listing:hover {
    background-color: #f8e9ff !important;
    border: 1px solid #f8e9ff !important;
}

.center-image-content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

.mail-logo-content {
    opacity: .3 !important;
}

.caliweb-email-header {
    background-color: rgba(245, 245, 247, 0.72);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    padding: 20px !important;
}

.caliweb-email-header .card-header {
    margin: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
}

#email-content {
    padding: 0 !important;
    padding-top: 0 !important;
}

.caliweb-email-body {
    padding: 20px;
}

/* =================== Cali Web Design Dashboard Preloader =================== */

.loading-bar-inner {
    background-color: #d8b1ff !important;
}

/* =================== Cali Web Design Dashboard Mobile Styling =================== */

@media (min-width:1290px) and (max-width: 1500px) {
    .caliweb-three-grid.customer-grid-quick-actions {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .container .container.caliweb-container,
    .container.caliweb-navbar-container {
        width: 95% !important;
    }

    .section.first-dashboard-area-cards {
        padding-bottom: 4%;
    }

    .macBook-styling-hotfix {
        width:100% !important;
        max-width: 100% !important;
    }

    .macBook-width-60 {
        width: 60%;
        max-width: 60%;
    }

    .macBook-Menu-Links-Small {
        font-size: 12px !important;
        padding: 4px 10px !important;
        padding-left:0 !important;
    }
    
}

@media (max-width: 1289px) {
    .caliweb-three-grid.customer-grid-quick-actions {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .container,
    .container.caliweb-container,
    .container.caliweb-navbar-container {
        width: 95% !important;
    }
}