html,
.license-container,
.login-container,
.wrapper,
body {
    background-color: #f1f1f1;
}

body {
    height: 100vh;
}

.login-container {
    padding-bottom: 12%;
}

.no-grid-row-bottom {
    grid-row-gap: 0 !important;
}

.arrow {
    padding-top: 2px;
}


.wrapper {
    right: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -999;
}

.text-gray-label {
    font-size: 12px;
}

.caliweb-navbar {
    background-color: transparent !important;
    border-bottom: none !important;
}

.dark-mode .caliweb-navbar {
    background-color: transparent !important;
    border-bottom: none !important;
}

.lang-selector {
    padding: 10px;
    border: 1px solid #ddd;
    color: black;
    background-color: #fff;
    border-radius: 4px;
}

.dark-mode .lang-selector {
    border: 1px solid #333;
    color: #dbdbdb;
    background-color: #222;
}

.caliweb-login-box {
    position: relative;
    max-width: 22%;
    z-index: 100;
    margin: auto;
    height: 100%;
}

.login-only {
    margin-top: 4%;
}

.register-only {
    margin-top: 2%;
}

.register-only-second-box {
    margin-bottom: 10%;
}

.caliweb-login-heading {
    font-size: 25px;
    font-weight: 300;
    font-family: "IBM Plex Sans", sans-serif;
}

.caliweb-login-box-content {
    padding: 5%;
    border-radius: 6px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: left;
}

.caliweb-error-box,
.caliweb-register-link-box {
    border: 0;
    padding: 5%;
    margin-top: 8%;
}

@keyframes sideDrop {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.caliweb-error-box {
    background-color: #ffe7e7;
    border-radius: 4px;
}

.dark-mode .caliweb-login-box-content,
.dark-mode .license-box {
    background-color: #000;
    box-shadow: none;
    border: 1px solid #222;
}

.caliweb-login-sublink {
    color: #7c7c7c;
    font-size: 14px;
    margin-top: 10px;
}

.caliweb-login-sublink a {
    font-weight: 700;
}

.caliweb-header {
    margin-bottom: 5%;
}

.header-text {
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
}

.caliweb-login-box-header {
    text-align: center;
    padding-bottom: 2%;
    margin-top: -4%;
}

.caliweb-login-footer,
.license-footer {
    top: auto;
    left: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    bottom: 0;
}

.caliweb-login-box-body {
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
}

.caliweb-ix-form-login {
    width: 100%;
}

.form-control {
    margin-bottom: 4%;
}

.caliweb-button.primary {
    margin-top: 4%;
    width: 100%;
    border-radius: 4px;
    padding: 14px 24px;
    font-family: "IBM Plex Sans", sans-serif !important;
}

.caliweb-button.second {
    margin-top: 4%;
    width: 100%;
    border-radius: 4px;
    padding: 14px 24px;
    background-color: #fff;
    border: 1px solid #CCCCCC;
    font-family: "IBM Plex Sans", sans-serif !important;
}

.onboarding-button-container {
    float: right;
}

.onboarding-button .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}

.onboarding-button .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.onboarding-button:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.check-box {
    font-size: 15px;
    border: 1px solid #ddd;
    background-color: #f2f4f8;
    border-radius: 3px;
    padding: 5px;
}

.check-box:hover {
    border: 1px solid #3978FF;
    background-color: #F2F4F8;
    transition: ease-in-out 0.3s all;
}

.onboarding-button {
    border-radius: 50%;
    border: 1px solid black;
    width: 40px;
    position: relative;
    display: inline-block;
    height: 40px;

    float: right;
}

.onboarding-button:hover {
    background-color: #000;
    color: white;
}

.caliweb-login-footer {
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
    align-items: center;
    display: flex;
}

.icon-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.icon-trash {
    font-size: 24px;
    color: #000;
}

.icon-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    display: none;
}

.icon-container:hover .icon-overlay {
    display: flex;
}

.caliweb-login-footer-text {
    font-size: 10px;
}

.domain-form-input {
    font-size: 12px;
}

.form-input {
    font-size: 12px;
    border-radius: 4px;
    padding: 14px 24px;
    border: 1px solid #ddd;
}

.dark-mode .caliweb-login-footer {
    background-color: #000;
    border-top: 1px solid #222;
}

.dark-mode .caliweb-error-box,
.dark-mode .caliweb-register-link-box {
    box-shadow: none;
}

.caliweb-grid-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-links-footer a {
    margin-right: 20px;
    font-size: 10px;
}

.dark-mode .list-links-footer a {
    color: rgb(235, 235, 235);
}

.dark-mode .list-links-footer a:hover {
    color: white;
}

.license-only {
    margin-top: 6%;
    position: relative;
}

.license-box {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    color: #000;
}

.license-footer {
    background-color: #f1f1f1;
    position: fixed;
}

.dark-mode .license-box {
    color: #dbdbdb;
}

.dark-mode .license-text-dark {
    color: #dbdbdb !important;
}

.caliweb-navbar-container,
.container,
.container.caliweb-container.footer {
    width: 100%;
    max-width: 98%;
}

.industry-results {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    padding: 5px;
    margin-top: 5px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    display: none;
}

.dark-mode .industry-results {
    background-color: #000;
    border: 1px solid #222;
}

.industry-div {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px !important;
    transition: ease-in-out 0.3s all;
}

.industry-div:hover {
    background-color: #f1f1f1 !important;
}

.dark-mode .industry-div:hover {
    background-color: rgba(149, 157, 165, 0.2) !important;
}

.dark-mode .license-container,
.dark-mode .login-container,
.dark-mode .wrapper,
.dark-mode body,
.dark-mode html {
    background-color: #000;
}

.dark-mode .onboarding-button {
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
}

.dark-mode .onboarding-button:hover {
    background-color: #fff;
    color: #000;
}

.industry-results::-webkit-scrollbar-track {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

@media (max-width: 1366px) {
    body {
        overflow-y: scroll;
    }

    .caliweb-login-box {
        position: relative;
        max-width: 30%;
        z-index: 100;
        margin: 0 auto auto;
        align-items: center;
        display: grid;
        vertical-align: middle;
        height: 100%;
    }

    .license-container {
        height: 100%;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .caliweb-login-footer,
    .license-only {
        position: relative;
    }

    .caliweb-login-footer,
    .license-footer {
        position: fixed;
        bottom: 0;
        top: auto;
        left: 0;
        background-color: #f1f1f1;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .login-only,
    .register-only {
        margin-top: 0%;
    }

    .login-only-second-box {
        margin-bottom: 10%;
    }

    .license-only {
        z-index: 999;
        margin-top: -2%;
    }

    .license-footer {
        position: fixed;
        bottom: 0;
    }

    .caliweb-navbar-container,
    .container,
    .container.caliweb-container.footer {
        width: 100%;
        max-width: 98%;
    }
}

@media (min-width: 1399px) and (max-width: 1499px) {
    .login-container {
        padding-bottom: 5% !important;
        overflow-y: auto;
        /* this was previously scroll - change back if things break somehow */
    }

    .dark-mode .login-container {
        background-color: #000
    }

    .caliweb-login-box {
        position: relative;
        max-width: 30%;
        z-index: 100;
        margin: 0 auto auto;
        align-items: center;
        display: grid;
        vertical-align: middle;
        height: 100%;
    }

    .license-container {
        height: 100%;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
    }

    .caliweb-login-footer,
    .license-only {
        position: relative;
    }

    .caliweb-login-footer,
    .license-footer {
        position: fixed;
        top: auto;
        left: 0;
        background-color: #f1f1f1;
        padding-top: 1%;
        padding-bottom: 1%;
        bottom: 0 !important;
    }

    .login-only,
    .register-only {
        margin-top: 0%;
    }

    .license-only {
        z-index: 999;
        margin-top: -2%;
    }

    .login-only-second-box {
        margin-bottom: 10%;
    }

    .license-footer {
        position: fixed;
        bottom: 0;
    }

    .caliweb-navbar-container,
    .container,
    .container.caliweb-container.footer {
        width: 100%;
        max-width: 98%;
    }
}

@media (max-width: 1200px) {
    .login-container {
        height: 100%;
    }

    .dark-mode .login-container {
        background-color: #000
    }


    .container {
        width: 100%;
        max-width: 95%;
    }

    .caliweb-navbar-container,
    .container.caliweb-container.footer {
        width: 100%;
        max-width: 90%;
    }

    .caliweb-login-box {
        position: relative;
        max-width: 60%;
        z-index: 100;
        margin: 6% auto auto;
        align-items: center;
        display: grid;
        vertical-align: middle;
        height: 100%;
    }

    .login-only {
        margin-top: 0;
    }

    .register-only {
        padding-top: 15%;
    }

    .caliweb-login-footer {
        padding-top: 2%;
        padding-left: 4%;
        position: fixed;
        bottom: 0;
        padding-bottom: 2%
    }

    .list-links-footer {
        display: none;
    }
}

@media (max-width: 999px) {
    .caliweb-login-box {
        position: relative;
        max-width: 90%;
        z-index: 100;
        margin: 6% auto auto;
        align-items: center;
        display: grid;
        vertical-align: middle;
        height: 100%;
    }

    .login-only {
        margin-top: 0;
    }

    .register-only {
        padding-top: 15%;
    }

    .must-be-grid {
        display: grid !important;
        -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
    }

    .mobile-experiance {
        text-align: center !important;
        display: block !important;
        width: 80%;
        padding-left: 0 !important;
    }
}

@media (min-width:2000px) {

    /* Moves the Registration form down further on screen that are larger
    like the Apple XDR Displays cause Apple is weird */

    .bigscreens-are-strange {
        margin-top: 6% !important;
    }

}